#stats{
	padding: 0;
    position: fixed;
    top: 42px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    color: #eee;
    max-width: 400px;
    width: 100%;
}
#currentuser{
    color:#eee;
    font-size:18px;
    margin:0;
    padding:0 0 5px;
    position:fixed;
    left:50%;
    overflow:hidden;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    text-align:center;
    text-overflow:ellipsis;
    z-index:1;
    white-space:nowrap;
    width:40%;
    text-shadow:0 1px 6px #000
}
#currentuser small{
    font-size:16px;
    color:#eee
}
#stats .reactions{
	text-align: center;
    margin-top: 45px;
}

#stats .reactions a{
	text-shadow: 1px 1px #89847E;
}
#stats .messaging {
    background: rgba(68,68,68,.7);
    border: 1px solid #eee;
    margin: 46px 0 0;
    padding: 15px;
    position: relative;
    height: 400px;
}
#stats .messaging .comments {
    width: 367px;
    height: 334px;
    overflow-x: hidden;
    overflow-y: auto;
}
#stats .messaging .comment {
    margin: 4px 0 0;
}
#stats .messaging .comment>img {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: top;
    width: 40px;
    height: 40px;
}
#stats .messaging .comment .comment-details {
    width: 305px;
    display: inline-block;
}
/*.menubar{
    background-color: #000;
    bottom: 20px;
    opacity: .35;
    left: 20px;
    position: fixed;
    width:50px;
    height:50px;
    z-index: 999999;
}*/
.menubar{
    background-color: #000000;
    bottom: 1%;
    opacity: .5;
    left: 1%;
    position: fixed;
    width:60px;
    height:50px;
    z-index: 100;
}
#menuIcon{
    bottom: 2%;
    left: 2%;
    position: absolute;
    width:40px;
    height:30px;
    z-index: 101;
}
#photosphere-menu{
    z-index: 999999;
}